# Redirect sa poddomena na glavnu domenu
RewriteEngine On
RewriteCond %{HTTP_HOST} ^mamagoca\.nikola-djordjevic\.com$ [NC]
RewriteRule ^(.*)$ https://mamagoca.com/$1 [R=301,L]

# Redirect all requests to index.html
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>