@import url("https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Poiret+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poiret+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", serif;
}
.mainFont {
  font-family: "Poiret One", cursive;
}
.secondaryFont {
  font-family: "Open Sans", serif;
}
.storyFont {
  font-family: "Crimson Text", serif;
  font-style: italic;
}
.rotationAnimation {
  animation: rotation 300s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
